<!DOCTYPE html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/account.js"></script>
</head>
<body class="home-body-s">
    <div class="container top-containers">
        <h1 class="nav-title">Home</h1>
        <a onclick="facebookLogout()"><img class="icon-profile account-logout" src="images/logout.png"/></a>
    </div>
    <div class="outer-container">
        <div class="container">