<br>
            <div class="row">
                <div class="col-xs-12">
                    <a href="view-all-ingredients">
                        <div class="home-plus-button">View All ></div>
                    </a>
                </div>
            </div>