<br>
<div class="row">
    <div class="col-xs-12">
        <a href="add-recipe">
            <div class="home-plus-button">+ Create Recipe</div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="view-all-recipes">
            <div class="home-plus-button">View All ></div>
        </a>
    </div>
</div>