<br>
<div class="row">
    <div class="col-xs-6">
        <a href="add-recipe">
            <div class="home-plus-button">+ New Recipe</div>
        </a>
    </div>
    <div class="col-xs-6">
        <a href="view-all-ingredients">
            <div class="home-plus-button">View All ></div>
        </a>
    </div>
</div>