<div class="nav-bottom-container">
    <div class="container">
        <div class="row">
            <a href="/view-all-ingredients">
                <div class="col-xs-4 nav-bottom-icon"><img src="/images/nav-fridge.png" alt=""></div>
            </a>
            <a href="/index">
                <div class="col-xs-4 nav-bottom-icon"><img src="/images/nav-home.png" alt=""></div>
            </a>
            <a href="/view-all-recipes">
                <div class="col-xs-4 nav-bottom-icon"><img src="/images/nav-recipe.png" alt=""></div>
            </a>
        </div>
    </div>
</div>