.body {
    background: linear-gradient(rgb(183, 196, 240), #E8E8E8);
    font-family: "Avenir", sans-serif;
}

h1 {
    font-size: 26px;
}


.back {
    margin-top: 15px;
    float: left;
    font-size: 20px;
}

button {
    border: none;
    background: none;
}

.top-containers {
    border-bottom: 2px solid rgb(233, 233, 233));

    background: linear-gradient(rgb(245, 245, 245), rgb(228, 228, 228));

    height: 58px;
}

/* --- Home ---- */

.header-home {
    text-align: center;
    background: linear-gradient(#BED7F2, #76BBFF);
    box-sizing: border-box;
    height: 50px;
}

.home-title {
    margin-top: 2vw;
    color: rgb(80, 80, 80);
}

.carousel .item {
    height: 150px;
}

.item h3 {
    font-family: "Avenir";
    float: right;
    position: fixed;
    bottom: 0;
    right: 5vw;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }

#recipes-title, #my-fridge-title {
    float: left;
    font-size: 22px;
    letter-spacing: 2.0px;
}

.plus-button, .minus-button {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    overflow: hidden;
    border:  0;
    background-color: #19C7F1;
    color:  white;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    border-radius: 100%;
}

.plus-button-home {
    margin-top: 5vw;
}

.view-all {
    float: right;
}

.fridge-list-container {

    width: 90%;
    margin: 30px auto;

    text-align: left;
}

.fridge-header-row {
    height: 30px;
    border-bottom: 2px solid rgb(233, 233, 233);
}

.fridge-item-row {
    border-bottom: 2px solid rgb(233, 233, 233);
    height: 45px;
}

.fridge-item-row {
    padding: 10px 0px 0px 0px;
}

.fridge-header-row, .fridge-header-col {
    text-align: left;
}

.icon {
    width: 20px;
    height: 20px;
}


/* ---- Add ingredients ---- */

.page-header {
    text-align: center;
}



.done, .save {
    background: rgb(152, 201, 152);
    width: 75px;
    height: 30px;
}

.discard {
    background: rgb(255, 150, 150);
}

.done {
    background: rgb(152, 201, 152);

    width: 50px;
    height: 25px;

    box-sizing: border-box;
    border-radius: 15%;
    margin-top: 18px;
    margin-left: -20px;


}

/* ---- Add Ingredients ----- */

.search-bar-container {
    border: 2px solid rgb(146, 146, 146);
    width: 95%;

    margin: 20px auto;

    box-sizing: border-box;

}

.search-bar {
    width: 100%;
}



  .page-header {
      display: inline-block;
  }

.add-dropdown {
    width: 100%;
    margin: 0 auto;


    border-bottom: 2px solid rgb(233, 233, 233);
}

.row {
    text-align: center;
}

.add-rect {
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0px;

    font-family: 'Avenir', sans-serif;
}

.search-list-container {
    margin-top: 10px;
}

.search-list-container li {
    padding: 5px 0px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(233, 233, 233);
}

.quantity-text {
    font-size: 20px;
}

.quantity-col-2 {
    width: 40px;
    height: 35px;
    border: 1px solid black;
}



.quantity-col-3 button {
    margin-left: 20px;
}

.quantity-col-3 button, .quantity-col-4 button {
    margin-top: 5px;
}

.freshness-row-1 {
    padding: 4vw 0vw;
}

.freshness-row-2 {
    padding: 10vw 5vw;
}

.freshness-buttons {

    border-radius: 100%;
    width: 75%;
    height: 60px;

    font-family: "Avenir", sans-serif;
    color: black;
}

#fresh {
    background: linear-gradient(rgb(139, 255, 139), rgb(81, 173, 81));
}
#okay {
    background:linear-gradient(rgb(255, 254, 184), rgb(255, 255, 20));;
}

#eat-soon {
    background: linear-gradient(rgb(189, 169, 169), brown);;
}

/* .freshness-active {
    border: 4px solid yellow;
} */

/* --- confirmation page --- */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vw;

    box-sizing: border-box;
    padding: 5vw 0vw;
    padding-bottom: 15vw;
}

.footer-confirmation {


    background: rgb(231, 231, 231);



    border-top: 2px solid grey;
}

.add-more {
    margin-left: 15vw;
    float: left;
}

.confirm {
    float: right;
    margin-right: 15vw;
}

.confirmation-buttons {
    box-sizing: border-box;
    border-radius: 15%;

    font-size: 5vw;
}

/* --- Recipe Info --- */

#recipe-name {
    margin-top: 10px;
    padding: 5px 0px;
}

.recipe-intro-container {
    box-sizing: border-box;
    padding: 40px 0px 5px 30px;
}

h2#recipe-info-header {
    font-size: 18px;
}

.footer-recipe-info {
    text-align: center;

    padding-bottom: 20vw;
}

.img-recipe-info {
    width: 90%;
    padding-right: 10px;
}

.recipe-body-container {
    width: 95%;
    height: 75vw;
    overflow: scroll;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 3vw 4vw;

    border: 1px solid rgb(194, 194, 194);
}

#recipe-info-header {
    font-size: 6vw;
    padding-left: 5vw;
    padding-bottom: 2vw;

    box-sizing: border-box;

    letter-spacing: 0.3vw;
}

.edit-recipe-button-container {
    margin: 25px 0px;
    text-align: center;
}

#edit-recipe-button {
    width: 125px;
    height: 30px;
    border: 1px solid rgb(133, 133, 133);
}

/* --- Rate Your Recipe --- */

#rate-your-recipe, .rate-recipe-title {
    text-align: center;
}

#rate-your-recipe {
    font-size: 18px;
}

.rate-recipe-title {
    padding-top: 10vw;
}

.rate-recipe-container {
    box-sizing: border-box;
    padding: 10vw 0vw;
}

.rate-img-container {
    box-sizing: border-box;
    padding: 75px 0px;
}

.img-rate {
    width: 50px;
}

.rate-left {
    padding-left: 50px;
}

.rate-right {
    padding-right: 50px;
}

/* ---- Edit Recipe ---- */

#edit-your-recipe, .edit-recipe-title {
    text-align: center;
}

.edit-recipe-title {
    padding-top: 10vw;
    padding-bottom: 2vw;
    width: 50%;
    margin: 0 auto;
    border-bottom: 2px solid black;

}

.edit-recipe-container {

    width: 85%;
    height: 75vw;
    overflow: scroll;
    margin: 6vw auto;

    box-sizing: border-box;
    padding: 3vw 4vw;

    border: 1px solid rgb(194, 194, 194);
}

.edit-recipe-row {
    padding: 2.5vw 0vw;
}

.edit-recipe-quantity {
    border: 1px solid black;
    text-align: center;
}

.edit-recipe-add-container {
    width: 100%;
    margin: 25px 0px;
    text-align: center;
}

.edit-recipe-add-button {
    width: 125px;
    height: 30px;
    border: 1px solid rgb(133, 133, 133);
}

.carousel-cards{
    padding: 10px;
}

.carousel-cards .item{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.carousel-cards img{
}

.bg-success {
    background: linear-gradient(rgb(162, 255, 162), rgb(124, 255, 124));
}

.bg-warning {
    background: linear-gradient(rgb(247, 247, 147), yellow);
}

.bg-danger {
    background: linear-gradient(rgb(255, 160, 160), red);
}

.progress-bar {
    color: black;
}

/*
--- View All ingredients --- */

.view-all-ingredients-container {
    border-bottom: 2px solid rgb(233, 233, 233));

    background: linear-gradient(rgb(245, 245, 245), rgb(228, 228, 228));
}

.plus-button-vai {
    margin-top: 15px;
}

.plus-button p {
    margin-top: -2px;
}

/* --- View All Recipes --- */
#recommended-title {
  padding-left: 20px;
}

.view-recipes-images {
  width: 100px;
  height: 50px;
}

.view-recipes-bullets {
  list-style: none;
}
