<!DOCTYPE html>
<head>
    <title>Add Ingredients</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/add-ingredients.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="container top-containers">
        <div class="row">
            <a onclick="goBack()">
                <div class="col col-xs-2">
                    <p class="back"><</p>
                </div>
            </a>
            <div class="col col-xs-8">
                <h1 id="recipe-name">Add Ingredients</h1>
            </div>
        </div>
    </div>
    {{!--     
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="Search foods">
    </div>
    --}}
    <div class="add-ingredients-added-count" id="add-ingredients-added-count">0</div>
    <div class="search-list-container">
        <ul>
            {{#each ingredients}}
            <li class="search-list-item search-list-item-active">
                <div class="row">
                    <img class="icon icon-add" src="{{imageURL}}"/>
                    <p class="add-ingredient-name col-xs-5">{{name}}</p>
                </div>
                <div class="qaf-container">
                    <div class="row qaf-row-1">
                        Quantity: <span class="qaf-quantity">0</span>
                        <button class="qaf-plus-minus quantplus">+</button>
                        <button class="qaf-plus-minus quantminus">-</button>
                        <br>
                        {{!-- <button class="qaf-freshness qaf-freshness-1">Fresh</button>
                        <button class="qaf-freshness qaf-freshness-2">Okay</button>
                        <button class="qaf-freshness qaf-freshness-3">Eat Soon</button> --}}
                        <input type="checkbox" name="eatsoon" value="eatsoon" id="eatsoon" class="CB-eatsoon">
                        <label>Eat Soon</label>
                        <input type="checkbox" name="okay" value="okay" id="okay" class="CB-okay">
                        <label>Okay</label>
                        <input type="checkbox" name="fresh" value="fresh" id="fresh" class="CB-fresh">
                        <label>Fresh</label>
                        <a href="#">
                            <p class="qaf-add">+ Add</p>
                        </a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>