<!DOCTYPE html>
<head>
    {{> analytics}}
    <title>Add Ingredients</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/add-ingredients.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/goBack.js"></script>
</head>
<body>
    <div class="container top-containers">
        <div class="row">
            <a onclick="goBack()">
                <div class="col col-xs-2">
                    <p class="back"><</p>
                </div>
            </a>
            <div class="col col-xs-8">
                <h1 id="recipe-name">Add Ingredients</h1>
            </div>
        </div>
    </div>
    {{!--     
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="Search foods">
    </div>
    --}}
    <a href="/view-all-ingredients"><div class="add-ingredients-added-count shadowPulse"><div id="add-ingredients-added-count">0</div>Items<br>Added</div></a>
    <div class="search-list-container">
        <ul>
            {{#each ingredients}}
            <li class="search-list-item-a search-list-item">
                <div class="row">
                    <div class="col col-xs-2"></div>
                    <div class="col col-xs-8"><p class="add-ingredient-name"><img class="icon-add" src="{{imageURL}}"/>{{name}}</p></div>
                    <div class="col col-xs-2"></div>
                </div>
                <div class="divider-qaff"></div>
                <div class="qaf-container">
                    <div class="row qaf-row-1">
                        <div class="qaf-food-counter-s">Quantity: <span class="qaf-quantity">0</span></div>
                        <div class="qaf-plus-minus quantplus">+</div>
                        <div class="qaf-plus-minus quantminus">-</div>
                        <div class="divider-qaff"></div>
                        <label class="myCheckbox myCheckbox-s">
                            <input type="checkbox" name="eatsoon" value="eatsoon" id="eatsoon" class="CB-eatsoon">
                            <span>Eat<br>Soon</span>
                        </label>
                        <label class="myCheckbox myCheckbox-o">
                            <input type="checkbox" name="okay" value="okay" id="okay" class="CB-okay">
                            <span>Just<br>Okay</span>
                        </label>
                        <label class="myCheckbox myCheckbox-f">
                            <input type="checkbox" name="fresh" value="fresh" id="fresh" class="CB-fresh">
                            <span>Still<br>Fresh</span>
                        </label>
                        <p class="qaf-add">+ Add</p>

                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <br><br><br><br>
    </div>
</body>
</html>