<!DOCTYPE html>
<head>
  <title>Add Recipe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/login.js"></script>

</head>

<body>

  <div class="container top-containers">
    <div class="row">
      <a href="index">
      <div class="col col-xs-2">
            <p class="back"><</p>
      </div>
    </a>
      <div class="col col-xs-8">
        <h1 id="recipe-name">Recipes</h1>
      </div>

      </div>
    </div>

  <div class="container add-recipe-categories-container">
    
      <div class="row untitled-recipe">
        <input placeholder="Untitled Recipe">
        
      </input>
        <img src="images/pencil.png"/>
      </div>

      {{!-- TODO : Add ingredients to categories --}}

      <div class="row">
        <div class="col col-xs-6 add-recipe-categories">
          <label for="protein-select">
            Select Protein
          </label>
          <select id="protein-select">
            
          </select>
        </div>

        <div class="col col-xs-6 add-recipe-categories">
          <label for="carb-select">
            Select Carb
          </label>
          <select id="carb-select">
            
          </select>
        </div>
      </div>


      <div class="row">
        <div class="col col-xs-6 add-recipe-categories">
          <label for="vegetable-select">
            Select Vegetable
          </label>
          <select id="vegetable-select">
            
          </select>
        </div>


        <div class="col col-xs-6 add-recipe-categories">
          <label for="other-select">
            Select Other
          </label>
          <select id="other-select">
            
          </select>
        </div>

      </div>


      <div class="add-recipe-summary-container">
        <div class="row">
          <h4>Ingredients</h4>
        </div>
        <div class="row add-recipe-summary-item">
          
          <div class="col col-center col-xs-1">
            <img class="icon" src="images/icon-chicken.png"/>
          </div>
          <div class="col col-center col-xs-4">
            Chicken
          </div>
          
          {{!-- End first item --}}
        </div>
      

      
    </div>
      <!-- End ingredients container -->
      
      <div class="row add-recipe-create">
          Create
      </div>
      
    
    
  </div>


</body>

 
</html>