<!DOCTYPE html>
<head>
    {{> analytics}}
    <title>Add Ingredients</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/goBack.js"></script>
  </head>



  <body>
    
  {{> navbottom}}
  <div class="container top-containers">
      <div class="row">
        <a href="recipe-info">
        <div class="col col-xs-2">
              <p class="back">&lt;</p>
        </div>
      </a>
        <div class="col col-xs-8">
          <h1 id="recipe-name">Editing Recipe</h1>
        </div>
        <div class="col col-xs-2 done-col">
          <a href="recipe-info">
          <button class="done">Done</button>
        </a>
        </div>
      </div>
  </div>

  <h2 class="edit-recipe-title">Peanut Tofu</h2>

  <div class="container edit-recipe-container">
    <div class="row edit-recipe-row">
      <div class="col col-xs-6">
        Tofu Block
      </div>
      <div class="col col-xs-1 edit-recipe-quantity">
        1
      </div>
      <div class="col col-xs-1">
          <button class="minus-button">-</button>
      </div>
      <div class="col col-xs-1">
          <button class="plus-button">+</button>
        </div>
    </div>

    <div class="row edit-recipe-row">
        <div class="col col-xs-6">
          Onion
        </div>
        <div class="col col-xs-1 edit-recipe-quantity">
          1
        </div>
        <div class="col col-xs-1">
            <button class="minus-button">-</button>
        </div>
        <div class="col col-xs-1">
            <button class="plus-button">+</button>
          </div>
      </div>

      <div class="row edit-recipe-row">
          <div class="col col-xs-6">
            Garlic
          </div>
          <div class="col col-xs-1 edit-recipe-quantity">
            1
          </div>
          <div class="col col-xs-1">
              <button class="minus-button">-</button>
          </div>
          <div class="col col-xs-1">
              <button class="plus-button">+</button>
            </div>
        </div>

        
  </div>

  <div class="edit-recipe-add-container">
      <a href="recipe-info">
        <button id="edit-recipe-add-button">Add</button>
    </a>
    </div>
  </body>
</html>