{{> abtest-top}}

   <!-- My Fridge -->

            <div class="row home-title-row">
                <div class="col-xs-7">
                    <h2 class="home-title">My Fridge</h2>
                </div>
                <div class="col-xs-5">
                    <a href="add-ingredients">
                        <div class="black-square-add-b">
                            +
                        </div>
                    </a>
                </div>
            </div>

            

            <div class="row">
                <div class="col-xs-12">
                    <div class="home-fridge-container">

                    <div class="row">
                        <a href="view-all-ingredients">
                        <div class="col-xs-4 border-right-dd freshness-number-b color-red"><span class="freshness-title-b">Eat Soon</span><br>{{ingredients_soon.length}}<br><span class="freshness-title-small-b">Entries</span></div>
                        <div class="col-xs-4 border-right-dd freshness-number-b color-yellow"><span class="freshness-title-b">Just Okay</span><br>{{ingredients_ok.length}}<br><span class="freshness-title-small-b">Entries</span></div>
                        <div class="col-xs-4 freshness-number-b color-green"><span class="freshness-title-b">Still Fresh</span><br>{{ingredients_fresh.length}}<br><span class="freshness-title-small-b">Entries</span></div>
                        </a>
                    </div>
                        
                    </div>
                </div>
            </div>
            {{> home-fridge-buttons-b}}
            </div>
            <!-- My Recipes -->

            <div class="row home-title-row">
                <div class="col-xs-12">
                    <h2 class="home-title">What to Cook Today</h2>
                </div>
            </div>

            <div class="row home-scroll-cards">
                {{#each_upto recipes 6}}
                {{> home-recipe-card}}
                {{/each_upto}}
            </div>
            {{> home-recipe-buttons-b}}

        </div>
{{> abtest-bottom}}