<!DOCTYPE html>
<html>
  <head>
    {{> analytics}}
    <title>Rate Your Recipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/iphone-icon.png?v=2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/rate-recipe.js"></script>
    <script src="/js/goBack.js"></script>
  </head>
  <body>
    {{> navbottom}}
    <div class="container top-containers rate-container">
    <div class="row">
      <h1 id="rate-your-recipe">Rate Your Recipe</h1>
    </div>
    <div class="container">
      <h3>How was this recipe?</h3>
      <div class="row">
        <div class="col col-xs6 rate-buttons" id="yay"><img class="img-rate" src="images/thumbup.png"/></div>
        <div class="col col-xs6 rate-buttons" id="nay"><img class="img-rate" src="images/thumbdown.png"/></div>
      </div>
      <br><br><br>
      <a href="/index">
        <div class="row add-recipe-create">Rate</div>
      </a>
    </div>
    <script>
      $("#nay").click(function () {
         $(this).toggleClass("ratedn");
          if ($("#yay").hasClass('ratedy')) 
            $("#yay").toggleClass("ratedy");
      });
      $("#yay").click(function () {
         $(this).toggleClass("ratedy");
         if ($("#nay").hasClass('ratedn')) 
            $("#nay").toggleClass("ratedn");
      });
    </script>
  </body>
</html>