<!DOCTYPE html>
<head>
    {{> analytics}}
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/goBack.js"></script>
</head>
<body>
    <div class="container top-containers">
        <a onclick="goBack()">
            <div class="col col-xs-2">
                <p class="back"><</p>
            </div>
        </a>
        <div class="col col-xs-8">
                <h1 class="nav-title">Sign Up</h1>
            </div>
    </div>
    <p id="please-form">Create an Account</p>
    <div class="container sign-up-main">
        <form action="login">
        <input class="sign-up-input" type="email" name="Email" placeholder="Email" required>
        <br>
        <input class="sign-up-input" type="password" name="Password" placeholder="Password" required>
        <br>
        <input class="sign-up-input" type="password" name="Repeat Password" placeholder="Password Repeat" required>
        <br>
        <input class="sign-up-submit" type="submit" value="Sign Up">
        </form>


    </div>
    {{!-- <div class="cancel-new-account"> <a href="login"></a></div>
    <div class="create-new-account"> <a href="index">Sign Up</a></div> --}}
</body>
</html>
